<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> <!-- DOCTYPE이 있어야 자동완성, 오타판별 등 가능 -->
  
<configuration>
	<typeAliases>
		<typeAlias type="com.jhta.delivery.vo.OwnerVo" alias="owner"/>
		<typeAlias type="com.jhta.delivery.vo.MemberVo" alias="member"/>
		<typeAlias type="com.jhta.delivery.vo.NoticeVo" alias="notice"/>
		<typeAlias type="com.jhta.delivery.vo.QnaVo" alias="Qna"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/jhta/delivery/mybatis/mapper/OwnerMapper.xml"/>
		<mapper resource="com/jhta/delivery/mybatis/mapper/MemberMapper.xml"/>
		<mapper resource="com/jhta/delivery/mybatis/mapper/StoreMapper.xml"/>
		<mapper resource="com/jhta/delivery/mybatis/mapper/MenuMapper.xml"/>
		<mapper resource="com/jhta/delivery/mybatis/mapper/NoticeMapper.xml"/>
		<mapper resource="com/jhta/delivery/mybatis/mapper/QnaMapper.xml"/>
	</mappers>
</configuration>