<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.Delivery_LocationMapper">
	<insert id="insert" parameterType="delivery_loc">
		insert into delivery_location values(#{num},shop_seq.currval,#{sido},#{sigungu},#{hname})
	</insert>
</mapper>