<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.Delivery_LocationMapper">
	<!-- 가게등록시 배달지역 추가 -->
	<insert id="insert" parameterType="delivery_loc">
		insert into delivery_location values(delivery_location_seq.nextval,shop_seq.currval,#{sido},#{sigungu},#{hname})
	</insert>
	<!-- 배달권역에서 다른 시,도,군,구 선택 시 재추가 -->
	<insert id="reInsert" parameterType="hashmap">
		insert into delivery_location values(delivery_location_seq.nextval,#{num},#{sido},#{sigungu},#{hname})
	</insert>
	<select id="selectLoc" parameterType="int" resultType="delivery_loc">
		select * from delivery_location where shop_num=#{num}
	</select>
	<delete id="delete" parameterType="int">
		delete from delivery_location where num=#{num}
	</delete>
	<update id="update" parameterType="hashmap">
		update from delivery_location set hname=#{hname} where num=#{num}
	</update>
</mapper>