<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://www.ibatis.com/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.EventMapper">
	<!-- insert 쿠폰 추가 COUPON_PUBLISH -->
	<!-- select 쿠폰 유무 확인 COUPON_PUBLISH 세션으로 넘어온 번호로 조회.-->
	<select id="couponchk" resultType="Coupon_publishVo" parameterType="hashmap">
		select * from COUPON_PUBLISH where member_num=#{memberNum} and coupon_num=#{coupon_num}
	</select>
	
	<!--나의 쿠폰함에서 확인할 사용가능한 쿠폰-->
	<select id="availablecoupon">
		select * from COUPON_PUBLISH where Member_num=memberNum and status=2
	</select>
	<!--나의 쿠폰함에서 확인할 사용불가능한 쿠폰-->
	<select id="Unusablecoupon">
		select * from COUPON_PUBLISH where Member_num=memberNum and status=1 and status=0
	</select>
</mapper>