<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.Member_ReviewMapper">
	<!-- 가게 번호로 가게의 리뷰 리스트 가져오기 -->
	<select id="shopReviewList" parameterType="int" resultType="com.jhta.delivery.vo.ReviewVo">
		select * from review where shop_num=#{shop_num} and ref=0 and lev=0 order by num desc
	</select>
	
	<!-- 리뷰에 대한 이미지 리스트 가져오기 -->
	<select id="reviewImgList" resultType="com.jhta.delivery.vo.Review_ImgVo">
		select * from review_img
	</select>
	
	<!-- 가게번호로 리뷰 리스트 + 회원 정보 가져오기 -->
	<select id="review_member_list" parameterType="int" resultType="hashmap">
		select r.num,r.content,r.ref,r.lev,r.step,r.grade,r.regdate,r.review_img_num,r.shop_num,r.member_num,r.owner_num,m.name,m.img,m.gender
		from review r,member m 
		where shop_num=#{shop_num} and r.ref=0 
		and r.lev=0 
		and r.member_num=m.num order by r.num desc
	</select>
	
	<!-- 멤버번호로 주문한 가게번호 가져오기 -->
	<select id="getShopByMember" parameterType="int" resultType="hashmap">
		select shop_num from MENU_CATEGORY
		where num in (select menu_category_num from MENU
                        where num in (select menu_num from ORDER_MENU
                                                where order_num in (select num from order_main 
                                                                                where member_num=#{member_num})))
	</select>
	
	<!-- 가게번호와 고객번호로 리뷰여부 판단하기 -->
	<select id="reviewAble" parameterType="hashmap" resultType="com.jhta.delivery.vo.Order_MainVo">
		select * from ORDER_MAIN 
   			where review_status=0 
        		and shop_num=#{shop_num}
        		and member_num=#{member_num}
	</select>
	
	
	<!-- insert 부분 -->
	
	<!-- 리뷰 이미지 넣기 -->
	<insert id="review_imgInsert" parameterType="hashmap">
		insert into REVIEW_IMG values(REVIEW_IMG_SEQ.nextval,#{img_path},#{original_filename},#{save_filename})
	</insert>
	
	<!-- 리뷰 넣기 -->
	<insert id="reviewInsert" parameterType="hashmap">
		insert into review values(REVIEW_SEQ.nextval,#{content},0,0,0,#{grade},sysdate,#{review_img_num},#{shop_num},#{member_num},#{owner_num})
	</insert>
	
	
	<!-- 멤버 번호와  -->
<!-- 고객번호와 가게번호를 받아 리뷰작성 조건 판단하기 --> 
<!-- 	<select id="reviewAble" parameterType="hashmap" resultType="String"> -->
<!-- 		select NVL(count(*),0) chk -->
<!-- 		from ORDER_MAIN,ORDER_TRANSACTION -->
<!-- 		where (select num from ORDER_MAIN where member_num=#{member_num}) in (select order_num from ORDER_TRANSACTION where shop_num=#{shop_num}) -->
<!-- 	</select> -->
	
<!-- 주문한 고객이 리뷰를 썼는지 -->
<!-- 	<select id="selectMemberReview" parameterType="hashmap" resultType="com.jhta.delivery.vo.ReviewVo"> -->
<!-- 		select * from REVIEW where member_num=#{member_num} and shop_num=#{shop_num} -->
<!-- 	</select> -->
</mapper>