<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.MemberMapper">
	<!-- 회원가입 -->
	<insert id="insert" parameterType="member">
		insert into member values(MEMBER_SEQ.NEXTVAL,#{id},#{pwd},#{name},#{email},#{tel},2,null,null,null,sysdate,0,#{gender},#{birth})
	</insert>
	
	<!-- 가게 리스트 -->
	<select id="shopList" parameterType="hashmap"
		resultType="com.jhta.delivery.vo.ShopVo">
		select * from (select aa.*,rownum rnum from (select * from shop order
		by rownum desc) aa) where <![CDATA[ rnum>=#{startrow} and rnum<=#{endrow}]]>
	</select>
	
	<!-- 가게 조회(상세페이지) -->
	<!-- 가게 정보 -->
	<select id="storeInfo" parameterType="int" resultType="com.jhta.delivery.vo.ShopVo">
		select * from shop where num=#{num}
	</select>
	
	<!-- 회원 조회 -->
	<select id="selectOne" parameterType="hashmap" resultType="member">
		select * from member where id=#{id} and pwd=#{pwd}
	</select>
	
	<!-- 아이디 체크 -->
	<select id="idchk" parameterType="String" resultType="member">
		select * from member where id=#{id}
	</select>
	
</mapper>