<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://www.ibatis.com/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.NoticeMapper">

	<!-- 공지리스트 -->
	<select id="noticeList" parameterType="hashmap" resultType="notice">
		select * from 
		(
		select aa.*,rownum rnum from 
			(
			select * from notice order by rownum desc
			)aa
		)
		where <![CDATA[ rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	
	<!-- 공지사항 상세 -->
	<select id="detail" parameterType="int" resultType="notice">
		select * from notice where num=#{num}
	</select>
	
	<!-- 전체 페이지수 -->
	<select id="count" resultType="int" parameterType="hashmap">
		select NVL(count(*),0) cnt from notice
		<include refid="search"/>
	</select>
	
	<!-- 이전 -->
	<select id="pre" parameterType="int" resultType="notice">
		select * from(
		<![CDATA[
		select * from notice where num < #{num} ]]>
		order by num desc
		) where rownum=1

	</select>
	
	<!-- 다음 -->
	<select id="next" parameterType="int" resultType="notice">
		
		select * from
		(
		select * from notice where num > #{num}
		order by num asc
		)
		where rownum=1

	</select>
	
	<!--  검색 -->
	<sql id="search">
		<if test="field!=null and field!=''">
			where ${field} like '%'||#{keyword}||'%'
		</if>
	</sql>
	

	
</mapper>