<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.OrderMapper">
<!--/////////////// insert 부분 //////////////////////-->	
	<!-- 주문  -->
	<insert id="Order_Main_insert" parameterType="com.jhta.delivery.vo.Order_MainVo">
		insert into ORDER_MAIN values(ORDER_MAIN_SEQ.nextval,sysdate,null,null,#{member_num},#{addr_num},#{addr_detail},61,'주문요청',null,#{owner_requests},#{rider_requests},#{total_price},0,0,#{shop_num})
	</insert>
	
	<!-- 주문메뉴  -->
	<insert id="Order_Menu_insert" parameterType="com.jhta.delivery.vo.Order_MenuVo">
		insert into ORDER_MENU values(ORDER_MENU_SEQ.nextval,ORDER_MAIN_SEQ.CURRVAL,#{menu_num},#{order_price},#{count})
	</insert>
	
	<!-- 주문메뉴 옵션   -->
	<insert id="Order_Menu_Option_insert" parameterType="com.jhta.delivery.vo.Order_Menu_OptionVo">
		insert into ORDER_MENU_OPTION values(ORDER_MENU_OPTION_SEQ.nextval,#{menu_option_num},ORDER_MENU_SEQ.CURRVAL)
	</insert>
	
<!--/////////////////////////// //////////////////////-->	

<!--/////////////// selectList 부분 //////////////////////-->	
	<!-- 주문  -->
	
	<!-- 주문메뉴  -->
		<!-- 메뉴 번호로 메뉴 가격 얻어오기 -->
	<select id="getMenuPrice" parameterType="int" resultType="int">	
		select price from MENU where num=#{num}
	</select>
	<!-- 주문메뉴 옵션   -->
		<!-- 옵션 메뉴 번호로 옵션 가격 얻어오기 -->
	<select id="getOptionPrice" parameterType="int" resultType="int">
		select price from MENU_OPTION where num=#{num}
	</select>
	
	<!-- 주문옵션 테이블의 주문 메뉴 번호 얻어오기-->
	<select id="getOrderMenuNum" parameterType="int" resultType="int">
		select order_menu_num from order_menu_option where num= #{num}
	</select>
	
	<!-- 주문옵션 테이블의 주문 메뉴 메뉴번호 얻어오기(주문 트랜잭션 로직 처리에 사용) -->
	<select id="getOrderMenuNumBy" parameterType="int" resultType="int">
		select menu_num from MENU_OPTION where num=#{num}
	</select>
	
	<!-- 회원번호와 최소 가격으로 사용 가능한 쿠폰 리스트 가져오기 -->
	<select id="useableCoupon" parameterType="hashmap" resultType="hashmap">
		select c.num cnum,c.name cname,c.discount_type discount_type,c.discount_price discount_price,c.regdate cregdate,c.startdate cstartdate,
            c.enddate cenddate,c.status cstatus,c.cp_count ccp_count,c.min_price cmin_price,
            cp.num cpnum,cp.member_num cmember_num,cp.coupon_num cpcoupon_num,cp.regdate cpregdate,cp.status cpstatus,cp.order_num cporder_num
		from COUPON c,COUPON_PUBLISH cp
		where c.num = cp.coupon_num
		and c.enddate>=sysdate
		and <![CDATA[ c.startdate<sysdate ]]>
		and cp.status=2
		and cp.member_num=#{member_num}
		and <![CDATA[ c.min_price <= #{last_price}]]>
	</select>	
<!--/////////////////////////// //////////////////////-->	


<!-- ///////////////update 부분 ////////////////////// -->

	<!-- 발행쿠폰 번호와 회원번호로 상태와 주문번호 변경 (사용한 쿠폰으로 변경)-->
	<update id="updateCoupon" parameterType="hashmap">
		update COUPON_PUBLISH 
		set status=1,order_num=ORDER_MAIN_SEQ.CURRVAL
		where num=#{num}
	</update>

<!-- /////////////////////////////////////////////// -->
</mapper>