<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.Owner_StoreMapper">	
	<!-- 대표메뉴 리스트 가져오기 -->
	<select id="mainMenuList" parameterType="int" resultType="com.jhta.delivery.vo.MenuVo">
		select * from menu
		where menu_category_num=(select num from MENU_CATEGORY 
                               	where shop_num=(select num 
												from shop 
												where num=#{num}) 
                                and main_menu=1) 
        order by priority asc
	</select>
	
	<!-- 메뉴삭제 -->
	<delete id="deleteMenu" parameterType="int">
		delete from menu where num=#{num}
	</delete>
	
	<!-- 메뉴카테고리 삭제 -->
	<delete id="deleteMenu_Category" parameterType="int">
		delete from menu_category where num=#{num}
	</delete>
	
	<!-- 메뉴 추가 -->
	<insert id="insertMenu" parameterType="com.jhta.delivery.vo.MenuVo">
		insert into menu
		values(MENU_SEQ.nextval,#{name},#{menu_info},#{price},
									1,'img',#{menu_category_num},4)
	</insert>
	
	<!-- 메뉴카테고리 추가 -->
	<insert id="insertMenu_Category" parameterType="com.jhta.delivery.vo.MenuCategoryVo">
		insert into menu_category
		values(MENU_CATEGORY_SEQ.nextval,#{name},4,#{shop_num},0)
	</insert>
	
	<!-- 메뉴 수정 -->
	<update id="updateMenu" parameterType="com.jhta.delivery.vo.MenuVo">
		update menu
		set name=#{name}, menu_info=#{menu_info}, price=#{price}
		where num=#{num}
	</update>
	
	<!-- 메뉴카테고리 이름 수정 -->
	<update id="updateMenu_Category" parameterType="com.jhta.delivery.vo.MenuCategoryVo">
		update menu_category
		set name=#{name}
		where num=#{num} and shop_num=#{shop_num}
	</update>
	
	<!-- 메뉴카테고리 번호 찾기 -->
	<select id="selectMenu_CategoryNum" parameterType="com.jhta.delivery.vo.MenuCategoryVo" resultType="int">
		select num from menu_category
		where name=#{name} and shop_num=#{shop_num}
	</select>
	
	<!-- 메뉴옵션  구하기-->
	<select id="select_menu_option" resultType="com.jhta.delivery.vo.MenuOptionVo">
		select * from menu_option
	</select>
	
	<!-- 메뉴옵션 추가 -->
	<insert id="insert_menu_option" parameterType="com.jhta.delivery.vo.MenuOptionVo">
		insert into menu_option
		values(MENU_OPTION_SEQ.nextval,#{name},#{price},#{category},#{menu_num})
	</insert>
	
	<!-- 메뉴옵션 수정 -->
	<update id="update_menu_option" parameterType="com.jhta.delivery.vo.MenuOptionVo">
		update menu_option
		set name=#{name}, price=#{price}, category=#{category}
		where num=#{num}
	</update>
	
	<!-- 메뉴옵션 삭제 -->
	<delete id="delete_menu_option" parameterType="int">
		delete from menu_option
		where num=#{num}
	</delete>
	
	<!-- 가게가 가진 메뉴카테고리, 메뉴, 메뉴옵션 -->
	<select id="select_menuAll" parameterType="int" resultType="com.jhta.delivery.vo.Owner_CheckMenuVo">
		select distinct mc.num mc_num, mc.name mc_name,
        	mm.num mm_num, mm.name mm_name, mm.menu_info mm_info, mm.price mm_price, mm.img mm_img, mm.menu_category_num mm_category,
            	mo.num mo_num, mo.name mo_name, mo.price mo_price, mo.category mo_category, mo.menu_num mo_menu_num
		from shop sp, menu_category mc, menu mm, menu_option mo
		where sp.num=mc.shop_num and mm.menu_category_num=mc.num and mo.menu_num=mm.num and mc.shop_num=#{num} and
    		mm.menu_category_num in(select num from menu_category where shop_num=#{num}) and
        		mo.menu_num in(select num from menu where menu_category_num in(select num from menu_category where shop_num=#{num}))
	</select>
	
	<!-- 오라클에서 이미 있는 값이면 update 없는 값이면 insert해줌 -->
	<!-- 메뉴카테고리 -->
	<insert id="insertUpdate_Menu_category" parameterType="com.jhta.delivery.vo.MenuCategoryVo">
		merge into menu_category mc
		using dual
		on (mc.num=#{num})
		when matched then
		update set mc.name=#{name}, mc.main_menu=#{main_menu}
		when not matched then
		insert (mc.num, mc.name, mc.priority, mc.shop_num, mc.main_menu)
		values(menu_category_seq.nextval,#{name},6,#{shop_num},#{main_menu})
	</insert>
	
	<!-- 메뉴 -->
	<insert id="insertUpdate_Menu" parameterType="com.jhta.delivery.vo.MenuCategoryVo">
		merge into menu mm
		using dual
		on (mm.num=#{num})
		when matched then
		update set mm.name=#{name}, mm.menu_info=#{menu_info}, 
				mm.price=#{price}, mm.menu_category_num=#{menu_category_num}
		when not matched then
		insert (mm.num, mm.name, mm.menu_info, mm.price, mm.status, mm.img, mm.menu_category_num, mm.priority)
		values (menu_seq.nextval, #{name}, #{menu_info}, #{price},1,'img1',#{menu_category_num}, 5)
	</insert>
	
	<!-- 메뉴옵션 -->
	<insert id="insertUpdate_MenuOption" parameterType="com.jhta.delivery.vo.MenuCategoryVo">
		merge into menu_option mo
		using dual
		on (mo.num=#{num})
		when matched then
		update set mo.name=#{name}, mo.price=#{price}, mo.category=#{category}
		when not matched then
		insert (mo.num, mo.name, mo.price, mo.category, mo.menu_num)
		values (menu_option_seq.nextval, #{name}, #{price}, #{category}, #{menu_num})
	</insert>
	
	<!-- 메뉴카테고리번호로 메뉴카테고리 얻어오기 -->
	<select id="select_menu_categoryOne" parameterType="int" resultType="com.jhta.delivery.vo.MenuCategoryVo">
		select * from menu_category where num=#{category_num}
	</select>
	
	<!-- 메뉴번호로 메뉴얻어오기 -->
	<select id="select_menuOne" parameterType="int" resultType="com.jhta.delivery.vo.MenuVo">
		select * from menu where num=#{menu_num}
	</select>
	
	<!-- 메뉴옵션번호로 메뉴옵션 얻어오기 -->
	<select id="select_menu_optionOne" parameterType="int" resultType="com.jhta.delivery.vo.MenuOptionVo">
		select * from menu_option num=#{option_num}
	</select>
</mapper>






























