<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.Owner_StoreMapper">	
	<!-- 대표메뉴 리스트 가져오기 -->
	<select id="mainMenuList" parameterType="int" resultType="com.jhta.delivery.vo.MenuVo">
		select * from menu
		where menu_category_num=(select num from MENU_CATEGORY 
                               	where shop_num=(select num 
												from shop 
												where num=#{num}) 
                                and main_menu=1) 
        order by priority asc
	</select>
	
	<!-- 메뉴삭제 -->
	<delete id="deleteMenu" parameterType="int">
		delete from menu where num=#{num}
	</delete>
	
	<!-- 메뉴카테고리 삭제 -->
	<delete id="deleteMenu_Category" parameterType="int">
		delete from menu_category where num=#{num}
	</delete>
	
	<!-- 메뉴 추가 -->
	<insert id="insertMenu" parameterType="com.jhta.delivery.vo.MenuVo">
		insert into menu
		values(MENU_SEQ.nextval,#{name},#{menu_info},#{price},
									1,'img',#{menu_category_num},4)
	</insert>
	
	<!-- 메뉴카테고리 추가 -->
	<insert id="insertMenu_Category" parameterType="com.jhta.delivery.vo.MenuCategoryVo">
		insert into menu_category
		values(MENU_CATEGORY_SEQ.nextval,#{name},4,#{shop_num},0)
	</insert>
	
	<!-- 메뉴 수정 -->
	<update id="updateMenu" parameterType="com.jhta.delivery.vo.MenuVo">
		update menu
		set name=#{name}, menu_info=#{menu_info}, price=#{price},
				menu_category_num=#{menu_category_num}
		where num=#{num}
	</update>
	
	<!-- 메뉴카테고리 이름 수정 -->
	<update id="updateMenu_Category" parameterType="com.jhta.delivery.vo.MenuCategoryVo">
		update menu_category
		set name=#{name}
		where num=#{num} and shop_num=#{shop_num}
	</update>
	
	<!-- 메뉴카테고리 번호 찾기 -->
	<select id="selectMenu_CategoryNum" parameterType="com.jhta.delivery.vo.MenuCategoryVo" resultType="int">
		select num from menu_category
		where name=#{name} and shop_num=#{shop_num}
	</select>
	
	<!-- 메뉴옵션  구하기-->
	<select id="select_menu_option" resultType="com.jhta.delivery.vo.MenuOptionVo">
		select * from menu_option
	</select>
	
	<!-- 메뉴옵션 추가 -->
	<insert id="insert_menu_option" parameterType="com.jhta.delivery.vo.MenuOptionVo">
		insert into menu_option
		values(MENU_OPTION_SEQ.nextval,#{name},#{price},#{category},#{menu_num})
	</insert>
	
	<!-- 메뉴옵션 수정 -->
	<update id="update_menu_option" parameterType="com.jhta.delivery.vo.MenuOptionVo">
		update menu_option
		set name=#{name}, price=#{price}, category=#{category}
		where num=#{num}
	</update>
	
	<!-- 메뉴옵션 삭제 -->
	<delete id="delete_menu_option" parameterType="int">
		delete from menu_option
		where num=#{num}
	</delete>
</mapper>