<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://www.ibatis.com/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.RiderMapper">
	<!-- 라이더회원 로그인 -->
	<select id="RiderOne" parameterType="hashmap" resultType="com.jhta.delivery.vo.RiderVo">
		select * from rider 
		where id=#{id} and pwd=#{pwd} and (status=2 or status=1)
	</select>
	
	<!-- 라이더회원 회원가입 -->
	<insert id="insertRider" parameterType="com.jhta.delivery.vo.RiderVo">
		insert into rider
		values(RIDER_SEQ.nextval,#{id},#{pwd},#{name},#{phone},#{email},2,sysdate)
	</insert>
	
	<!-- 라이더 아이디확인 -->
	<select id="RiderIdcheck" resultType="com.jhta.delivery.vo.RiderVo" parameterType="string">
		select * from rider
		where id=#{id}
	</select>
	
	<!-- 라이더 회원 아이디찾기 -->
	<select id="RiderId" parameterType="com.jhta.delivery.vo.RiderVo" resultType="string">
		select * from rider
		where name=#{name}, phone=#{phone}, email=#{email}
	</select>
	
	<!-- 라이더 회원 비밀번호찾기 -->
	<select id="RiderPwd" parameterType="com.jhta.delivery.vo.RiderVo" resultType="string">
		select * from rider
		where id=#{id}, name=#{name}, email=#{email}, phone=#{phone}
	</select>
	
	<!-- 라이더 정보 -->
	<select id="RiderInfo" parameterType="int" resultType="com.jhta.delivery.vo.RiderVo">
		select * from rider
		where num=#{num}
	</select>
	
	<!-- 라이더 정보수정 -->
	<select id="RiderUpdate" parameterType="com.jhta.delivery.vo.RiderVo">
		update rider
		set id=#{id}, pwd=#{pwd}, name=#{name}, email=#{email}, phone=#{phone}
		where num=#{num}
	</select>
	
	<!-- 라이더휴면 -->
	<update id="RiderDrop" parameterType="int">
		update rider
		set status=0
		where num=#{num}
	</update>
	
	<!-- 라이더가 받지않은 주문승인 리스트 -->
	<select id="RiderOrderList" resultType="com.jhta.delivery.vo.RiderOrderVo">
		select om.num om_num, to_char(om.start_time,'yyyy-MM-dd HH24:MI:SS') start_time, to_char(om.end_ex_time,'yyyy-MM-dd HH24:MI:SS') ex_time, to_char(om.end_time,'yyyy-MM-dd HH24:MI:SS') end_time, om.status status, om.rider_requests requests,
    		om.total_price total_price, sp.name shop_name, sp.tel shop_phone, sp.addr shop_addr, sp.building_management_number shop_building_number,
    		sp.address_detail shop_address_detail, mm.name member_name, mm.tel member_phone,
    		mm.building_management_number member_building_number, mm.address_detail member_address_detail
		from shop sp, member mm, (select * from order_main where rider_num is null) om
		where om.shop_num=sp.num and om.member_num=mm.num and om.status='주문승인'
		order by om.end_ex_time desc
	</select>
	
	<!-- 라이더가 배달승인 -->
	<update id="RiderAcceptOrder" parameterType="hashmap">
		update order_main
		set rider_num=#{rider_num}, status='배달승인'
		where num=#{num}
	</update>
	
	<!-- 라이더가 배달승인받은 리스트 -->
	<select id="RiderAcceptList" parameterType="int" resultType="com.jhta.delivery.vo.RiderOrderVo">
		select om.num om_num, to_char(om.start_time,'yyyy-MM-dd HH24:MI:SS') start_time, to_char(om.end_ex_time,'yyyy-MM-dd HH24:MI:SS') ex_time, to_char(om.end_time,'yyyy-MM-dd HH24:MI:SS') end_time, om.status status, om.rider_requests requests,
    		om.total_price total_price, sp.name shop_name, sp.tel shop_phone, sp.addr shop_addr, sp.building_management_number shop_building_number,
    		sp.address_detail shop_address_detail, mm.name member_name, mm.tel member_phone,
    		mm.building_management_number member_building_number, mm.address_detail member_address_detail
		from shop sp, member mm, (select * from order_main where rider_num=#{num}) om
		where om.shop_num=sp.num and om.member_num=mm.num and om.status='배달승인'
		order by om.end_ex_time desc
	</select>
	
	<!-- 라이더가 배달완료 -->
	<update id="RiderSuccessOrder" parameterType="hashmap">
		update order_main
		set status='배달완료', end_time=sysdate
		where num=#{num} and rider_num=#{rider_num}
	</update>
	
	<!-- 라이더가 배달완료한 리스트 -->
	<select id="RiderSuccessList" parameterType="int" resultType="com.jhta.delivery.vo.RiderOrderVo">
		select om.num om_num, to_char(om.start_time,'yyyy-MM-dd HH24:MI:SS') start_time, to_char(om.end_ex_time,'yyyy-MM-dd HH24:MI:SS') ex_time, to_char(om.end_time,'yyyy-MM-dd HH24:MI:SS') end_time, om.status status, om.rider_requests requests,
    		om.total_price total_price, sp.name shop_name, sp.tel shop_phone, sp.addr shop_addr, sp.building_management_number shop_building_number,
    		sp.address_detail shop_address_detail, mm.name member_name, mm.tel member_phone,
    		mm.building_management_number member_building_number, mm.address_detail member_address_detail
		from shop sp, member mm, (select * from order_main where rider_num=#{num}) om
		where om.shop_num=sp.num and om.member_num=mm.num and om.status='배달완료'
		order by om.end_ex_time desc
	</select>
</mapper>  









