<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.ShopMapper">
	<!-- 가게등록 -->
	<insert id="insert" parameterType="shop">
		insert into shop(num,profile_img,name,introduce,tel,buildingCode,address_detail,shop_category,min_price,payment_option,info,review_info,personal_day,open_time,close_time,delivery_area,mutual_name,addr,reg_num,reg_status,status,ultracall,addcount,owner_num,regdate)
		values(SHOP_SEQ.NEXTVAL,#{profile_img},#{name},#{introduce},#{tel},#{buildingCode},#{address_detail},#{shop_category},#{min_price},#{payment_option},#{info},#{review_info},#{personal_day},#{open_time},#{close_time},#{delivery_area},#{mutual_name},#{addr},#{reg_num},0,0,0,0,#{owner_num},sysdate)
	</insert>
	<!-- 기본정보 업데이트 -->
	<update id="basicinfo_update" parameterType="hashmap">
		update shop set profile_img=#{profile_img},introduce=#{introduce},info=#{info},review_info=#{review_info},tel=#{tel},status=#{status} where num=#{num}
	</update>
	<!-- 운영정보 업데이트 -->
	<update id="operationinfo_update" parameterType="hashmap">
		update shop set shop_category=#{shop_category},payment_option=#{payment_option},open_time=#{open_time},close_time=#{close_time},personal_day=#{personal_day} where num=#{num}
	</update>
	<!-- 가게번호로 가게정보 얻어오기 -->
	<select id="selectShop" parameterType="int" resultType="shop">
		select * from shop where num=#{num}
	</select>
</mapper>