<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.StoreMapper">

	<!-- 대표메뉴 리스트 가져오기 -->
	<select id="mainMenuList" parameterType="int" resultType="com.jhta.delivery.vo.MenuVo">
		select * from menu
		where menu_category_num=(select num from MENU_CATEGORY 
                               	where shop_num=(select num 
												from shop 
												where num=#{num}) 
                                and main_menu=1) 
        order by priority asc
	</select>
	
	<!-- 메뉴번호로  메뉴 가져오기 -->
	<select id="menuInfo" parameterType="int" resultType="com.jhta.delivery.vo.MenuVo">
		select * from menu where num=#{num}
	</select>
	
	<!-- 메뉴번호로 메뉴옵션 얻어오기 -->
	<select id="optionInfo" parameterType="int" resultType="com.jhta.delivery.vo.MenuOptionVo">
		select * from menu_option where menu_num=#{num}
	</select>
	
	<!-- 옵션메뉴번호(pk)로 옵션메뉴 정보 가져오기 -->
	<select id="optionInfoByOption" parameterType="int" resultType="com.jhta.delivery.vo.MenuOptionVo">
		select * from menu_option where num=#{num}
	</select>
	
	
	<!-- 가게 리스트 -->
	<select id="shopList" parameterType="hashmap"
		resultType="com.jhta.delivery.vo.ShopVo">
		select * from (select aa.*,rownum rnum from (select * from shop order
		by rownum desc) aa) where <![CDATA[ rnum>=#{startrow} and rnum<=#{endrow}]]>
	</select>
	
	<!-- 가게 조회(상세페이지) -->
	<!-- 가게 정보 -->
	<select id="storeInfo" parameterType="int" resultType="com.jhta.delivery.vo.ShopVo">
		select * from shop where num=#{num}
	</select>
	
	<!-- 메뉴삭제 -->
	<delete id="deleteMenu" parameterType="int">
		delete from menu where num=#{num}
	</delete>
	
	<!-- 메뉴카테고리 삭제 -->
	<delete id="deleteMenu_Category" parameterType="int">
		delete from menu_category where num=#{num}
	</delete>
</mapper>